
<div class="mosaico">
@for (character of lista; track character.id) {
  <div class="card">
    <img [src]="character.sprites?.front_default" alt="{{ character.name }}">

        <div class="info-heroe">
          <h3>{{ character.name }}</h3>

          <div class="tipo">
          @for (item of character.types; track item.slot) {
            <span class="badge-tipo">
              {{ item.type.name }}
            </span>
          }
        </div>
          <p>Peso: {{character.weight}}</p>

          <button class="botoncompr" (click)="selecc()">Seleccionar</button>
        </div>

  </div>
}
</div>
