<div class="sidebar-wrapper" [class.abierta]="estado">

  <aside class="menu-lateral">
    <div class="cabecera-panel">
      <h4>Elementos</h4>
      <hr>
      <a routerLink="/Inicio"> Landing</a> &nbsp;
      <a routerLink="/Formulario"> Formulario</a> &nbsp;
      <a routerLink="/Imagen"> Imagen</a> &nbsp;
      <a routerLink="/Equipo"> Mi equipo</a> &nbsp;
      <hr>
    </div>
  <button class="btn-flotante" (click)="alternarSidebar()">
    {{ estado ? '✖️' : '🟰' }}
  </button>
  </aside>

</div>
