.boton-accion {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  transition: left 0.3s ease;
}

.sidebar-wrapper.abierta {
  left: 0;
}

.menu-lateral {
  width: 100%;
  height: 100%;
  background-color: #3879ebca;
  border-right: 1px solid #333;
  padding: 20px;
}


.btn-flotante {
  position: absolute;
  top: 20px;
  left: 250px;

  width: 45px;
  height: 45px;
  background-color: #e52030;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  box-shadow: 4px 0 8px rgba(0,0,0,0.3);
}

