.body_prin{
  background-color: #646161;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.tite{
  padding: 40px;
  justify-content:center;
  background-color: #ff9797;
  margin: 10px;

}


.boton-menu {
  background-color: #ffffff;
  color: #333333;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;

  margin: 10px;


  /* Efecto visual cuando el usuario pasa el mouse encima */
  &:hover {
    background-color: #333333;
    color: #ffffff;
  }
}


