.body_prin{
  background-color: #558fe6;
  display: flex;
  margin: 10px;
  justify-content: center;
  height: 60px;

}

.tite{
  justify-content: center;
  background-color: #b36ee8;
  margin: 10px;
  display: flex;
  align-items: center;
}

.prove{
justify-content: center;
display: flex;
align-items: center;
}

.boton-menu {
  background-color: #b693e6;
  color: #333333;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;

  margin: 10px;


  /* Efecto visual cuando el usuario pasa el mouse encima */
  &:hover {
    background-color: #a8e87e;
    color: #ffffff;
  }
}

.bot_op{
  justify-content: flex-start;

}

#main {
  transition: 0.4s ease;
}
